<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>药品销售</title>
		<link rel="stylesheet" href="../../../common/css/bootstrap.min.css" />
		<style>
			img{
				height: 80px;
				width: 1145px;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div class="form-group">
				<img src="../../../common/img/top.png" class="img-thumbnail" alt="top" />
			</div>
			<div class="form-group">
				<ul class="nav nav-tabs">
					<li role="presentation" class="active">
						<a href="#">药品选购</a>
					</li>
					<li role="presentation">
						<a href="#"><span id="view">查看药品</span></a>
					</li>
					<li role="presentation">
						<a href="#"><span id="sell">药品销售</span></a>
					</li>
					<li role="presentation" class="pull-right">
						<a href="#"><span id="returnMain">返回首页</span></a>
					</li>
				</ul>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover table-condensed" id="table">
					<thead>
					</thead>

					<tbody id="tbody">

					</tbody>
				</table>
			</div>
		</div>

		<script src="../../../common/js/jquery.min.js"></script>
		<script src="../../../common/js/jquery-serialize.js"></script>
		<script type="text/javascript" src="../../../common/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../../common/js/bootstrap-table.js" ></script>
		<script type="text/javascript" src="../../../common/css/tableExport/bootstrap-table-export.js" ></script>
		<script type="text/javascript" src="list.js"></script>
	</body>

</html>